@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=League+Spartan:wght@100..900&display=swap");

//COLORS

$white: #ffffff;
$dark: #070724;
$darkGrey: #38384f;
$lightGrey: 838391;
$cyan: #419ebb;
$yellow: #eda249;
$purple: #6f2ed6;
$redOrange: #d14c32;
$red: #d83a34;
$orange: #cd5120;
$green: #1ec2a4;
$blue: #2d68f0;
$buttonBorderColor: rgba(129, 129, 142, 0.5);
$buttonBorderColorNoBorder: rgba(129, 129, 142, 0);
$spanColor: rgba(129, 129, 142, 0.8);

//TYPOGRAPHY

$antonio: "Antonio", sans-serif;
$league: "League Spartan", sans-serif;
$fontWeightMedium: 400;
$fontWeightBold: 700;
$h1FontSize: 80px;
$h1LineHeight: 103px;
$h2FontSize: 40px;
$h2LineSize: 52px;
$h2WordSpacing: -1.5px;
$h3FontSize: 12px;
$h3LineSize: 25px;
$h3WordSpacing: 2.6px;
$h4FontSize: 11px;
$h4LineSize: 25px;
$h4WordSpacing: 1px;
$pFontSize: 14px;
$pLineSize: 25px;
