@import "../vars/vars";
@import "../vars/mixin";

.buttonSection {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    @include buttonWithHover;
    margin: 10px 0;
  }

  input[type="radio"]:checked + label.cyan {
    background-color: $cyan;
  }

  input[type="radio"]:checked + label.yellow {
    background-color: $yellow;
  }

  input[type="radio"]:checked + label.purple {
    background-color: $purple;
  }

  input[type="radio"]:checked + label.redOrange {
    background-color: $redOrange;
  }

  input[type="radio"]:checked + label.red {
    background-color: $red;
  }

  input[type="radio"]:checked + label.orange {
    background-color: $orange;
  }

  input[type="radio"]:checked + label.green {
    background-color: $green;
  }

  input[type="radio"]:checked + label.blue {
    background-color: $blue;
  }
}

@media screen and (max-width: 768px) {
  .buttonSection {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .buttonSection {
    display: none;
  }
}
