.imgSection {
  width: 70%;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: relative;

  img {
    background: transparent;
  }

  .secondImage {
    top: 200px;
  }
}

@media screen and (max-width: 768px) {
  .imgSection {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .imgSection {
    img {
      width: 100%;
    }
    .secondImage {
      top: 120px;
    }
  }
}
