@import "../vars/vars";
@import "../vars/mixin";

.infoSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;

  .cube {
    color: white;
    width: 230px;
    height: 120px;
    border: 1px solid $buttonBorderColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 15px;

    h2 {
      @include h2;
    }

    h4 {
      @include h4;
      text-transform: uppercase;
      color: $sourceColor;
    }
  }
}

@media screen and (max-width: 1024px) {
  .infoSection {
    .cube {
      width: 180px;
      height: 100px;

      h2 {
        font-size: 34px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .infoSection {
    .cube {
      width: 23%;
      height: 100px;

      h2 {
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .infoSection {
    .cube {
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .infoSection {
    flex-direction: column;
    .cube {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
      height: unset;
      h2 {
        font-size: 20px;
      }
    }
  }
}
